:root {
}

.mono {
    --default-font-family: monospace;
}

.serif {
    --default-font-family: serif;
}

.sans {
    --default-font-family: sans-serif;
}

.dark {
    --color-text-primary: #fff;
    --color-text-secondary: #757575;
    --color-text-accemt: #a445ed;
    --color-bg-primary: #050505;
}

.light {
    --color-text-primary: #2d2d2d;
    --color-text-secondary: #757575;
    --color-text-accent: #a445ed;
    --color-bg-primary: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
